<div class="container">
  <div class="row">
    <div class="col">
      Select Player For BAtting
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-selection-list #players [multiple]="false">
        <mat-list-option *ngFor="let player of playersList" value="{{player.playerID}}{{'|'}}{{player.playerName}}">
          {{player.playerName}}&nbsp;{{player.battingStyle}}&nbsp;{{player.bowlingStyle}}
        </mat-list-option>
      </mat-selection-list>

      <p>
        Option selected: {{players.selectedOptions.selected[0]?.value}}
      </p>

    </div>
  </div>

</div>
