<div>
  <div class="container-fluid">

    <div class="row">
      <div class="col pt-3">
        <button type="button" class="btn btn-success">Add New Over</button>
      </div>
    </div>

    <div class="row">
      <div class="col pt-3">
        1st Ball
        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary" selected>2</mat-chip>
        </mat-chip-list>
      </div>
      <div class="col pt-3">
        2st Ball
        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary" selected>1</mat-chip>
        </mat-chip-list>
      </div>
      <div class="col pt-3">
        3st Ball
        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary" selected>2</mat-chip>
        </mat-chip-list>
      </div>
      <div class="col pt-3">
        4st Ball
        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary" selected>2</mat-chip>
        </mat-chip-list>
      </div>
      <div class="col pt-3">
        5st Ball
        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary" selected>3</mat-chip>
        </mat-chip-list>
      </div>
      <div class="col pt-3">
        6st Ball
        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary" selected>1</mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div class="row">

      <div class="col">

        <div class="row">
          <div class="col pt-3">b1</div>
          <div class="col pt-3">b2</div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button type="button" class="btn btn-danger">Bowled</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-danger">Caught</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-danger">Stumped</button>
          </div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button type="button" class="btn btn-success">1B.</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-success">2B.</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-success">3B.</button>
          </div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button type="button" class="btn btn-warning">1L.B.</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-warning">2L.B.</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-warning">3L.B.</button>
          </div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button type="button" class="btn btn-info">No Ball</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-info">No + Runs</button>
          </div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button mat-raised-button color="warn">Wide Ball</button>
          </div>
          <div class="col pt-3">
            <button mat-raised-button color="warn">Wide + Runs</button>
          </div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button type="button" class="btn btn-dark">Panalty 1</button>
          </div>
        </div>

      </div>
      <div class="col">

        <div class="row">
          <div class="col pt-3">b1</div>
          <div class="col pt-3">b2</div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button type="button" class="btn btn-danger">Run Out</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-danger">LBW</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-danger">Other</button>
          </div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button type="button" class="btn btn-success">4B.</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-success">5B.</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-success">6B.</button>
          </div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button type="button" class="btn btn-warning">4L.B.</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-warning">5L.B.</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-warning">6L.B.</button>
          </div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button type="button" class="btn btn-info">No + Wicket</button>
          </div>
          <div class="col pt-3">
            <button type="button" class="btn btn-info">No + Runs + Wicket</button>
          </div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button mat-raised-button color="warn">Wide + Wicket</button>
          </div>
          <div class="col pt-3">
            <button mat-raised-button color="warn">Wide + Runs + Wickets</button>
          </div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <button type="button" class="btn btn-dark">Panalty 2</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



